<div class="px-2 py-2 ">
    <!--nemu-->
    <div>
        <nav>
            <ul class="list-unstyled">
                <li class="d-flex aling-items-center bg-dark-100 rounded px-2 py-1 my-1">
                    <i class="d-flex justify-content-start gap-4 mt-1 bi bi-house-door-fill">
                        <h6 class="fss-5 fw-bold">Principal</h6>
                    </i>
                </li>
                <li class="d-flex aling-items-center  bg-dark-200 rounded px-2 py-1 my-1">
                    <i class="d-flex justify-content-start gap-4 mt-1 bi bi-file-slides">
                        <h6 class="fss-5 fw-bold">Shorts</h6>
                    </i>
                </li>
                <li class="d-flex aling-items-center  bg-dark-200 rounded px-2 py-1 my-1">
                    <i class="d-flex justify-content-start gap-4 mt-1 bi bi-collection-play">
                        <h6 class="fss-5 fw-bold">Suscripciones</h6>
                    </i>
                </li>
                <hr>
            </ul>
        </nav>
    </div>
</div>

