<div class="container p-5">
    <div class="cold-flex align-items-center">
        <div class="row">
            <div class="d-block align-items-center col-12 col-md-4">
                <div class="col-12 mb-4">
                    <img src="Group 123.svg" class="logo">
                </div>
                <div class="col-12 mb-4">
                    2025 Skandia
                </div>
                <div class="col-12">
                    <h6>PBX: <strong class="strong-verde"> 658 4000 / 484 1300</strong></h6>
                    <h6>Linea nacional<strong class="strong-verde"> 01 8000 517 526</strong></h6>
                    <h6>Linea Corporativa 658 4123</h6>
                    <h6>Av. 19 # 109A - 30</h6>
                    <h6>Bogotá D.C., Colombia</h6>
                    <h6><strong> Oficinas a nivrel nacional</strong></h6>
                </div>
            </div>
            <div class="col-12 col-md-6 d-flex flex-column align-items-start justify-content-end" id="terminos" >
                <a href="#" class="d-block mb-1">Términos y Condiciones Canales de Servicio</a>
                <a href="#" class="d-block mb-1">Defensoría del Consumidor Financiero</a>
                <a href="#" class="d-block mb-1">Protección de Datos</a>
                <a href="#" class="d-block mb-1">Definiciones Generales - Auto declaración FATCA y CRS</a>
                <a href="#" class="d-block mb-1">Recomendaciones de Seguridad</a>
                <a href="#" class="d-block mb-1">Ley de Transparencia</a>
                <a href="#" class="d-block">Mapa de Sitio</a>
            </div>
            <div class=" col-12 col-md-2 d-flex align-items-end justify-content-start gap-5" id="redes">
                <img class="img-redes" src="facebookl@2x.png" alt="redes">
                <img class="img-redes" src="youtube@2x.png" alt="redes">
                <img class="img-redes" src="twitter@2x.png" alt="redes">
            </div>
        </div>
       
    </div>
</div>