<!--<div class="bg-dark text-white">
  <header class="header position-fixed top-0 w-100 bg-dark ">
    <app-header  (tMenu)="tamanioMenu($event)"></app-header>
  </header>
  <div class="d-flex gap-4  mt-0  py-5 mt-3 bg-success">
    <aside class="aside overflow-auto bg-danger" [style]="aside">
      <app-sidebar [asideStyle]='aside' [classMax]="classMax"></app-sidebar>
    </aside>
    <div class="container-fluid d-block flex-grow-1 pt-2">
      <router-outlet />
      <footer class="bg-warning">
        <app-footer></app-footer>
      </footer>
    </div>
  </div>
</div> -->

<div class="bg-dark text-white">
  <header class="header position-fixed top-0 w-100 bg-dark ">
    <app-header  (tMenu)="tamanioMenu($event)"></app-header>
  </header>
  <div class="d-flex gap-2 pt-5 mt-4">
    <aside class="aside  " [style]="aside">
      <app-sidebar [asideStyle]='aside' [classMax]="classMax"></app-sidebar>
    </aside>
    <div class="container-fluid  d-block">
      <router-outlet />
      <footer class="bg-warning">
        <app-footer></app-footer>
      </footer>
    </div>
  </div>
</div>